
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   background-color: #141414;
   color: #fff;
}


header {
   display: flex;

   justify-content: space-between;
   align-items: center;
   background-color: #000;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
   padding: 20px;
   
}


.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   font-size: 24px;
   font-weight: bold;
}

.search-bar input {
   padding: 10px;
   border-radius: 20px;
   border: none;
   width: 300px;
}

.profile-button img {
   margin-left: 500px;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
}


main {
   margin-top: 80px;
}


.filters {
   display: flex;
   justify-content: center;
   background-color: #333;
   padding: 8px;
}

.filter-btn {
   background-color: #222;
   border: none;
   color: #fff;
   padding: 10px 20px;
   margin: 0 10px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.filter-btn:hover {
   background-color: #555;
}


.feed {
   padding: 20px;
}

.feed-row {
   margin-bottom: 40px;
}

.feed-content {
   display: flex;
   overflow-x: auto;
   gap: 20px;
   padding: 10px 0;
}

.feed-item {
   background-color: #333;
   border-radius: 10px;
   width: 150px;
   height: 200px;
   flex-shrink: 0;
   position: relative;
}

.feed-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}

.item-title {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background: rgba(0, 0, 0, 0.6);
   color: #fff;
   padding: 10px;
   text-align: center;
   border-radius: 0 0 10px 10px;
}

.header {
   display: flex;
   flex-direction: row;
}

body {
   max-width: 1440px;
   margin: auto;
 }
 
 .slideshow-container {
   position: relative;
   max-width: 100%;
   margin: auto;
   overflow: hidden;
}

.slides {
   display: none;
}

.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {opacity: 0.4;}
   to {opacity: 1;}
}

.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}

